nav {
  padding: 1rem 2rem;
  align-items: center;
  gap: 1rem;
  width: calc(100% - 4rem);

  svg {
    fill: var(--theme-primary-text) !important;
  }

  &:not(.drawer) {
    display: flex;
    background: var(--theme-primary);
    color: var(--theme-primary-text);

    button.lang-selector {
      background: #ffffffcc;
    }
    a {
      color: var(--theme-primary-text);
    }
  }

  &.drawer {
    display: grid;
    padding: 2rem 1rem;
    grid-template-rows: max-content max-content 1fr;
    height: 100%;

    & > div:first-of-type {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }

  a {
    color: var(--theme-primary-text);
    text-decoration: none;
    margin: 0.5rem;
  }

  .spacer {
    flex-grow: 1;
  }
}
