div.splash-container {
  padding: 10vh 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/splash.jpg");
  background-size: cover;
}

div.splash-content {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  text-align: center;
  text-wrap: wrap;
  color: #fff;
  h1,
  h2 {
    font-family: "Playfair Display" !important;
    font-weight: 100;
  }
  h2 {
    font-family: "Poppins";
    font-size: 1.5rem;
    margin: 0;
  }
  button {
    width: max-content;
    margin: 3rem auto;
  }
}
